/* SplitView.css */
.split-container {
    display: flex;
    height: 100vh;
  }
  
  .split-left {
    flex: 1;
    background-color: rgb(255, 255, 255);
    border-right: 1px solid #ddd;
    overflow: auto;
  }
  
  .split-right {
    flex: 1;
    background-color: #33afb1;
    color: white;
    overflow: auto;
  }
  